.login {
  width: 100%;
  height: 100%;
  background-image: url('../../imag/bg.jpg');
  background-size: 100% 100%;
}
.login .login-header {
  display: flex;
  align-items: center;
  height: 80px;
  background-color: rgba(21, 20, 13, 0.5);
}
.login .login-header h1 {
  font-size: 30px;
  color: white;
}
.login .login-content {
  width: 400px;
  height: 300px;
  background-color: white;
  margin: 60px auto;
  padding: 20px 40px;
}
.login .login-content h2 {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}
.login .login-content .login-form .login-form-button {
  width: 100%;
}
.login .registry-content {
  width: 400px;
  height: 300px;
  background-color: white;
  margin: 60px auto;
  padding: 20px 40px;
}
.login .registry-content h2 {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}
.login .registry-content .registry-form .registry-form-button {
  width: 100%;
}
