.column-text-right {
    text-align: right !important;
}
.font-jiacu {
    font-weight: bolder;
    text-align: right;
    background-color: pink;
}
.text-left {
    margin-left: 50px;
    text-align: left;
}
.hover-Button {
    position: absolute;
    right: 40px; 
    top: 80px;
}